<strong>Hydroponics</strong>
<p>
  A water based feeding and growing system is still a new technology in the agricultural
  space. That doesn't make it difficult to create or use. Basically, nutrient rich
  water stored in buckets flow over the roots of the plants giving them all that
  they need to thrive and survive. Some hydroponic systems are horizontal while
  others are vertical. The vertical systems are really space savers. Combined with
  grow lights and a small water pump, these different types of systems are becoming
  quite common. Very little maintenance required.
</p>
<p style="float: right;">"Arugula in good, old fashioned dirt!"</p>
<%= image_tag ("arugula.jpg"), :style => "float: right; padding: 10px;" %>
<p>
  You can find many videos online showing you how to build your own systems on
  the cheap or you can buy a complete system. In a small area, like an apartment,
  a small grow tent will hold the plants, the hydroponics and the grow lights while
  not taking up too much space. If you have a greenhouse, it's easy to build out
  shelving and long trays to hold the water that directly feed the plants. Together
  with a basin for the main water supply, you will have plants galore. In a
  greenhouse, lights may not even be needed depending on your location and the
  amount of sunlight the plants recieve during the day.
</p>
