<strong>A Garden site</strong>
<p>
  My site for information about gardening and things you may like in
  your backyard. Plants are listed by Season, Name and Care.
  I'll need a Photo model for the database. I'll need models for all of the things I want
  to know about. For instance:
</p>
Some lovely Rosemary flowers
<%= image_tag ("rosemary_flowers.jpg"), :style => "float: left; padding: 5px;" %>
<p>
  <ul class="list-group">
    <li class="list-group-item active">Green houses</li>
    <li class="list-group-item">Hydroponic solutions</li>
    <li class="list-group-item">Grow rooms</li>
    <li class="list-group-item">Grow lights</li>
    <li class="list-group-item">Ponds</li>
  </ul>
<%= image_tag ("1204171358b.jpg"), :style => "float: right; padding: 5px;" %>
A very young plant.
</p>
<p>
  <strong>Tips for Fall planting:</strong> Start seeds in trays and allow to germinate. Seedlings
   need two 'true' leaves before planting in the ground.
</p>
<p>
    <strong>Fall plants: </strong>Asparagus, Arugula, Beets, Broccoli, Broad Beans, Bok Choi,
    Brussles sprouts, Cauliflower, Cantaloup, Carrots, Celeriac, Collards, Chives,
    Celery, Cabbage, Cucumber, Edible Flowers, Frisee, Garlic, Green Beans,
    Green Onions, Honeydew Melon, Kale, Kohlrabi, Leeks, Lettuce, Melon,Mibuna,
    Mustard, Onions, Pak Choi, Parsnips, Peas, Pumpkins, Radishes, Rutabaga, Shallots,
    Spinach, Swiss Chard, Turnips and finally, Watermelon.
</p>
<p>
  <strong>Tips for Winter planting:</strong> Harvesting microgreens from the fall planting mostly.
  Replanting microgreens for consistant crop. Preparing beds for spring planting.
</p>
<p>
  <strong>Winter plants:</strong> Any hardy plants from the fall, perennials, bulbs.
</p>
<p>
  <strong>Tips for Spring planting:</strong> Keep replanting and introduce the Spring plants below.
  To extend the harvest, plant every four weeks.
</p>
<p>
  <strong>Spring plants:</strong> Tomato, Eggplant, Corn, Cucumber, Melons, Peppers, Sweet Potato,
  Herbs and Okra.
</p>
<p>
  <strong>Tips for Summer planting:</strong> Summer planting is the same as spring. Weed, replant,
  harvest, repeat.
</p>
