<strong>Greenhouses</strong>
<p>
  Greenhouses are needed for climate challenged regions. Too cold is no good.
  Too hot is no good. Too wet is no good. You get the picture. They also come
  in different shapes, sizes and material types. They are ultimately customizable.
  To build a greenhouse on the cheap you would use a clear plastic wrapped around
  a aluminum tube frame. The shape is like a tunnel. The size is up to you. How tall
  do you want it? How long? How wide? The build time is minimal, in a couple of
  hours you have a workable greenhouse.
</p>
<p>
  You could also go the traditional way. A concrete pad with a wooden or metal frame.
  Some people throw in plumbing, electrical systems and even fridges for the crop.
  Grow lights, working tables and racks for trays of plants are also very common.
  Light is essential so windows are everywhere. Temperature control is the goal
  so the windows must open up high to let out the heat when it becomes too much
  for the plants. The world is your oyster when you have a greenhouse.
</p>
