<strong>Ponds</strong>
<p>
  Backyard ponds come in all shapes and sizes. From small barrel ponds to large
  fishing ponds and every size in between. For most homeowners, a medium sized
  pond may be the best choice. Even apartment dwellers with a patio can build an
  easy to maintain barrel pond.
</p>
<%= image_tag ("red_shade_flower.jpg"), :style => "float: right; padding: 10px;" %>
<p>
  <strong>Materials:</strong>
  The materials needed are not complex. A container of some sort or a hole in the
  ground will do fine. Half a cask or wine barrel is perfect for a small patio
  pond. Even a bathtub would do the trick. Make sure you have a depth of at least
  two to three feet. Be sure it is water tight because it will need to hold water.
  To properly waterproof a leaky container like a barrel, rubber sheeting is used.
  Cut to size with some overlap and a little decoration with purpose, it will hardly
  be noticed. The decoration are usually rocks or boulders. Placed near the edges
  to hold down the rubber, place plants upon and create nooks and crannies for more
  plants as well as disguise the wires and tubes from the pump and solar panels.
  Small to mid-sized water pumps can be wired in to the existing electrical system
  or powered by solar panels. Moving water is crucial for the health of your pond.
</p>
<%= image_tag ("red_flower.jpg"), :style => "float: left; padding: 10px;" %>
<p>
  The cost of the rubber pond liner isn't too bad. About $150 USD for a 15'x15' sheet of pond
  liner. The container can be anything you wish. Or simply a hole in the ground.
  A solar powered water pump runs between $50 and $150 depending on the size. You
  don't need a very big pump to move enough water to keep the water fresh and mosquito
  free. A natural pond is best so once you have the pond established you may want to
  invest in some algea eating fish to help keep the rubber clean. The running water
  will provide the oxygen the fish need while some water plants will clean the pond.
  A wonderful little ecosystem!
</p>

<p>
  The location of the pond is important. The sun can heat up a pond quickly when
  it is shallow. This is why depth comes into play. I prefer a pond no less than
  three feet deep. You can shade a pond with screens, but not trees. The leaves
  will foul the pump too often, even with screens, requiring too much unneccesary
  maintenance. Shade is great for ponds, but the plants prefer some sun. Partial
  sun is ok but if you go this route pick your plants carefully. Ferns look great.
  An open location for a pond with depth with no trees dumping leaves into it is
  ideal. Plenty of sun and no debris fouling up the pond.
</p>
